*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:sans-serif;
}
h1{
margin-top:-500px;
margin-left:600px;
}
body{
height:100vh;
background: #e3f9ff;
margin-left:-400px;
display:flex;
align-items:center;
justify-content:center;
}
.calc-body{
background:grey;
width:300px;
margin:50px auto;
}
.calc-screen{
    background: #222222;
    color:aliceblue;
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    height:50px;
    line-height:20px;
    padding:0 15px;
}
.calc-button-row{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    padding:9px 0;
    margin:auto 5px;

}
.calc-button-row button{
    background: black;
    color:white;
    height:30px;
    cursor:pointer;
    margin:5px;
    border: unset;
    border-radius:3px;
    outline:unset;

}
.calc-button-row button:hover{
    background: #222222;

}
.calc-button-row button:active{
    transform: translate(4px);
}

